<!-- <div class="container">
  <div class="row">
    <div class="col">
      <h1>{{titulo}}</h1>
      <p>Operando A</p>
      <input type="number" class="form-control" [(ngModel)]="SumNum1" />
      <p>Operando B</p>
      <input type="number" class="form-control" [(ngModel)]="SumNum2" />
      <br />
      <button class="btn btn-primary" (click)="sumar()">Sumar</button>
      <p>Resultado: {{ resultado }}</p>
    </div>
  </div>
</div> -->

<!-- OTRA FORMA -->

<div class="container">
  <h1>{{ titulo }}</h1>
  <app-operandos
  (mostrarResultado)="verificarResultado($event)">

  </app-operandos>
  <app-resultado [resultado] = "resultadoSum">

  </app-resultado>
</div>
